{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Knowledge Project</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit dolor
      excepturi doloremque? Eaque alias voluptatum vitae nulla cum debitis. Odio
      omnis eaque debitis exercitationem fugiat impedit, nobis, minus ipsum
      saepe cupiditate velit ipsa quis non! Molestiae culpa, ut vitae delectus,
      dolorum ex aliquid distinctio ea beatae ullam illo inventore adipisci
      facilis reprehenderit nulla explicabo architecto quos accusantium labore
      quaerat aperiam incidunt neque. Fugiat, illum. Voluptatem dolore impedit
      corporis tempora voluptate maxime sint, atque explicabo dolorem quae vero
      libero magnam molestiae saepe neque deleniti quas. Tempora facilis dicta
      ad atque vero, sequi eius maiores consequuntur optio, maxime delectus,
      alias rem incidunt?
    </p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signup/">Registrarse</a>
      <a class="btn btn-dark" href="/signin/">Ingresar</a>
    </div>
  </section>
</main>

{% endblock %}